#login {
	width: 960px;
	margin: 0 auto;
}

#loginButton {
	display: block;
	padding: 5px 15px;
	font-family: Arial;
	background: rgb(0, 102, 153);
	font-size: 1em;
	color: #fff;
	margin-left: 15px;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 300px;
}

legend{
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.1em;
    font-style: "arial-black", Helvetica, sans-serif;
}

.loginlabel {
	font-size: 1.1em;
	font-family: Arial;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: right;
    margin-right: 20px;
}