#pagination {

	width: 960px;
	height: 20%;
	clear: both;
	margin: 0 auto;
}

#pagination .currentPage {
	color: #051D50;
	font-family: Arial;
	font-size: 1.5em;
}

#pagination a {
	font-family: Arial;
	font-size: 1.1em;
	text-decoration: none;
	color: #336699;
}

.paginationArrow {

	font-size: 1.5em;
	text-decoration: none;
}