@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
 
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding: 12px;
    border-radius: .5em;
    border: 1px solid;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
    margin: 40px auto 0;
    width: 40%;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    margin: 40px auto 0;
    width: 40%
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 10px 0 0;
    width: 40%;
}

/*.isa_error_upload {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 40px 0 0;
    width: 30%;
}*/

.isa_info i, .isa_success i, .isa_warning i, .isa_error i {

    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}

/* This is added only if response div can contain many response messages. */
.resp {

    margin: 10px 22px;
    font-size: 1.3em;
    vertical-align: middle;
}

.loginMsg i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}

.loginMsg {

    border-radius: 5px;
    color: #00529B;
    background-color: #BDE5F8;
    margin: 0px 0px 20px 100px;
    width: 40%;
}

.loginResponse i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}

.loginResponse {
    border-radius: 5px;
    color: #4F8A10;
    background-color: #DFF2BF;
    /*margin: 0 auto;*/
    width: 500px;
}

#welcome {
    width: 960px;
    margin: 0 auto;
}